@use "../../style/globals/color";
@use "../../style/globals/font";
@use "../../style/globals/spacing";

.history {
  padding: spacing.$reg-gap;
  &__container {
    width: auto;
    height: 460px;
    overflow: scroll;
    overflow-x: hidden;
    &--card {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      background-color: color.$panel-color;
      margin-bottom: spacing.$reg-gap;
      padding: spacing.$reg-gap;
      gap: spacing.$reg-gap;
      border-radius: 4px;
      &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: spacing.$small-gap;
        gap: spacing.$small-gap;
        strong {
          font-size: font.$text-size-s;
          font-weight: font.$text-weight-bold;
        }
        span {
          color: color.$text-secondary-color;
        }
      }
    }
    &--login {
      background-color: color.$overlay-color;
      width: 100%;
      height: 100%;
      display: grid;
      place-content: center;
      span {
        text-align: center;
        width: 30ch;
        font-size: font.$text-size-s;
        line-height: font.$text-lh-l;
        padding: spacing.$reg-gap;
        font-weight: font.$text-weight-bold;
      }
    }
  }
}
