@use "../globals/color";
@use "../globals/font";

@mixin dropdown {
  width: 20rem;
  z-index: 2;
  text-align: left;
  position: relative;
  color: color.$text-main-color;
  background-color: color.$overlay-color;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  height: 100%;
  font-size: font.$text-size-xs;
  font-weight: font.$text-weight-bold;
  border: 1px solid color.$grey-color;
  cursor: pointer;
}
