@use "../globals/color";
@use "../globals/font";

@mixin reset-input {
  all: unset;
}

@mixin textfield {
  @include reset-input;
  background: none;
  color: color.$text-main-color;
  font-size: font.$text-size-xs;
  border: 1px solid color.$grey-color;
  border-radius: 4px;
  max-height: 3rem;
  height: 100%;
  max-width: 20rem;
  padding: 1rem 1.5rem;
  width: auto;
  text-align: left;
}
