@use "../../style/globals/color";
@use "../../style/globals/font";

@import "../../App.scss";

.connection {
  height: 5rem;
  &--header {
    padding: 3rem;
    p {
      color: color.$grey-color;
    }
  }
  &--container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 2.7rem;
    height: 100%;
    text-align: left;

    input {
      height: 100%;
      width: 20rem;
      padding: 1rem 1.5rem;
    }

    button,
    button:disabled {
      height: 100%;
      margin-left: 2.5rem;
      width: 12rem;
    }
    &__login {
      height: 100%;
      width: 23.2rem;
      border: 1px solid color.$grey-color;
      border-radius: 4px;
      p {
        padding: 0.75rem 1.5rem;
        width: 100%;
        text-align: left;
        font-weight: font.$text-weight-bold;
      }

      button,
      button:disabled {
        height: 100%;
        margin-left: 2.5rem;
        width: 12rem;
      }
    }
  }
}
