@use "../../style/globals/color";
@use "../../style/globals/font";
@use "../../style/globals/spacing";

.connection {
  &--container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: spacing.$reg-gap;
    gap: spacing.$small-gap;

    input {
      height: 100%;
      width: 20rem;
      padding: 1rem 1.5rem;
    }

    button,
    button:disabled {
      height: 100%;
      margin-left: spacing.$small-gap;
      width: 12rem;
    }
    &__login {
      height: 100%;
      width: 23.2rem;
      border: 1px solid color.$grey-color;
      border-radius: 4px;
      p {
        padding: 0.75rem 1.5rem;
        width: 100%;
        text-align: left;
        font-weight: font.$text-weight-bold;
      }

      button,
      button:disabled {
        height: 100%;
        margin-left: 2.5rem;
        width: 12rem;
      }
    }
  }
}
