// global variable
@use "./globals/color";
@use "./globals/font";
@use "./globals/spacing";

// components
@import "./globals/reset";
@import "./components/button";
@import "./components/dropdown";
@import "./components/textfield";

html,
body {
  font-family: font.$font-family;
  font-size: font.$global-font-size;
  background-color: color.$background-color;
  color: color.$text-main-color;
  letter-spacing: 0.5px;
  text-align: center;
}

p,
span {
  font-size: font.$text-size-s;
  font-weight: font.$text-weight-medium;
  line-height: font.$text-lh-s;
}

h1 {
  font-size: font.$text-size-xl;
  font-weight: font.$text-weight-bold;
  line-height: font.$text-lh-l;
}

h3 {
  font-size: font.$text-size-m;
  font-weight: font.$text-weight-bold;
  line-height: font.$text-lh-m;
}

button {
  @include main-button(color.$main-button-color, color.$text-main-color);
  &:hover {
    @include main-button(color.$red-1-color, color.$text-main-color);
    cursor: pointer;
  }
}

button.disabled {
  @include main-button(color.$red-1-color, color.$text-main-color);
  cursor: none;
  &:hover {
    cursor: none;
  }
}

button.buy {
  @include main-button(color.$green-color, color.$text-main-color);
  &:hover {
    @include main-button(color.$green-1-color, color.$text-main-color);
  }
}

button.transparent {
  @include main-button(transparent, color.$text-main-color);
  border: 1px solid color.$grey-color;
  &:hover {
    @include main-button(color.$grey-1-color, color.$text-main-color);
    border: 1px solid color.$grey-color;
  }
  &:active {
    @include main-button(color.$grey-1-color, color.$text-main-color);
    border: 1px solid color.$grey-color;
  }
}

select {
  @include dropdown;
}

input {
  @include textfield;
}

.main-container {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  .header {
    background-color: color.$panel-color;
  }
  .body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: spacing.$small-gap;
    height: 100%;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: grid;
    place-content: center;
  }
}

.message {
  padding-bottom: spacing.$reg-gap;
  span {
    color: color.$grey-color;
  }
}
