// global variable
@use "./globals/color";
@use "./globals/font";
@use "./globals/spacing";

// components
@import "./globals/reset";
@import "./components/button";
@import "./components/dropdown";
@import "./components/textfield";

html,
body {
  font-family: font.$font-family;
  font-size: font.$global-font-size;
  background-color: color.$background-color;
  color: color.$text-main-color;
  letter-spacing: 0.5px;
  text-align: center;
}

p,
span {
  font-size: font.$text-size-s;
  font-weight: font.$text-weight-medium;
  line-height: font.$text-lh-s;
}

h1 {
  font-size: font.$text-size-xl;
  font-weight: font.$text-weight-bold;
  line-height: font.$text-lh-l;
}

h3 {
  font-size: font.$text-size-m;
  font-weight: font.$text-weight-bold;
  line-height: font.$text-lh-m;
}

button {
  @include main-button(color.$main-button-color, color.$text-main-color);
  &:hover {
    @include main-button(color.$red-1-color, color.$text-main-color);
    cursor: pointer;
  }
}

button.disabled {
  @include main-button(color.$red-1-color, color.$text-main-color);
  cursor: none;
  &:hover {
    cursor: none;
  }
}

button.buy {
  @include main-button(color.$green-color, color.$text-main-color);
  &:hover {
    @include main-button(color.$green-1-color, color.$text-main-color);
  }
}

button.transparent {
  @include main-button(color.$overlay-color, color.$text-main-color);
  border: 1px solid color.$grey-color;
  &:hover {
    @include main-button(color.$grey-1-color, color.$text-main-color);
    border: 1px solid color.$grey-color;
  }
}

button.active {
  @include main-button(color.$grey-1-color, color.$text-main-color);
  border: 1px solid color.$grey-color;
}

select {
  @include dropdown;
}

input {
  @include textfield;
}

.main-container {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  .header {
    background-color: color.$panel-color;
  }
  .body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 550px));
    place-content: center;
    gap: spacing.$small-gap;
    height: 100%;
  }
  .footer {
    width: 100%;
    height: 100px;
    display: grid;
    place-content: center;
  }
}

.message {
  padding-bottom: spacing.$reg-gap;
  span {
    color: color.$grey-color;
  }
}
.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  animation: fadein 0.5s ease-in-out 1;
  z-index: 2;
}
.popup-content {
  margin: 20% auto;
}
.popup-content > span {
  padding: 1.5rem;
  margin: 25% auto;
  background-color: #364040;
  color: #fff;
  font-size: large;
}