// color pallete
$primary-color: #0e0e0e;
$secondary-color: #ffffff;
$accent-color: #ff444f;
$red-color: #{$accent-color};
$red-1-color: #a32430;
$green-color: #85acb0;
$grey-color: #c2c2c2;
$dark-grey-color: #151717;
// ui color
$background-color: #{$primary-color};
$main-button-color: #{$accent-color};
$panel-color: #{$dark-grey-color};
$green-button-color: #{$green-color};
// font color
$text-main-color: #{$secondary-color};
$text-secondary-color: #{$grey-color};
