// font-family
$font-family: 'Roboto', sans-serif;
// font-size
$global-font-size: 10px;
$text-size-xs: 1.4rem;
$text-size-s: 1.6rem;
$text-size-m: 2.4rem;
$text-size-l: 3.2rem;
$text-size-xl:4.8rem;
// font-weight
$text-weight-light: 300;
$text-weight-medium: 400;
$text-weight-bold: 800;
// line-height
$text-lh-xs: 1.25;
$text-lh-s: 1.4;
$text-lh-m: 1.5;
$text-lh-l: 1.75;
$text-lh-xl: 2;
